<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong>  Hosting Technologies Pricing   </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active"> Hosting Pricing   </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
         <div class="art-PostContent">
     
      <h2>Basic</h2>
      <p>If you need a small business or personal website with great features and an attractive price, then the Basic hosting plan is the answer. The Basic hosting plan is our most popular web hosting plan, and comes complete with our award-winning service and support.</p>
      <p>The Basic plan accommodates a wide variety of website and development options, and annual plans.Check out the great features below and then get started today!
      </p>
      <h2>ASP.NET and Plus</h2>
      <p>If your website development calls for advanced scripting or dynamic content via a hosted database, with top level support at a great price, then the ASP.NET hosting plans are for you.</p>

      <p>The ASP.NET plans were designed for advanced web developers needing server side scripting and data elements delivered by a 100% uptime provider. These plans are available with ASP.NET 3.5 and the Plus plan includes database support for Microsoft SQL Server 2005/2008.</p>


      <!-- Start CORE VIEW -->
        <div>
        <table cellspacing="0" align="Center" id="MainSiteContentPlaceHolder_GridViewCore" style="font-size:Medium;width:90%;border-collapse:collapse;">
          <caption align="Left">
            <h3>CORE</h3>
          </caption><tbody><tr align="left" style="color:#EDEBD6;background-color:#D65359;font-size:Small;">
            <th align="left" scope="col" style="width:380px;">&nbsp;</th><th scope="col" style="width:380px;">Basic</th><th scope="col" style="width:380px;">ASP.NET</th><th scope="col" style="width:380px;">ASP.NET Plus</th>
          </tr><tr style="background-color:LightCyan;font-size:Small;">
            <td style="width:380px;">Hard Disk Storage             </td><td style="width:380px;">4GB                           </td><td style="width:380px;">4GB                           </td><td style="width:380px;">8GB                           </td>
          </tr><tr style="background-color:#F4F2DB;font-size:Small;">
            <td style="width:380px;">Monthly Transfer              </td><td style="width:380px;">240GB                         </td><td style="width:380px;">240GB                         </td><td style="width:380px;">360GB                         </td>
          </tr><tr style="background-color:LightCyan;font-size:Small;">
            <td style="width:380px;">POP3 Email Accounts           </td><td style="width:380px;">100                           </td><td style="width:380px;">500                           </td><td style="width:380px;">500                           </td>
          </tr>
        </tbody></table>
      </div>
          <br>
          
          
    <!-- Start APPS VIEW -->
     <div>
  <table cellspacing="0" align="Center" id="MainSiteContentPlaceHolder_GridViewAPPS" style="font-size:Medium;width:90%;border-collapse:collapse;">
    <caption align="Left">
      <h3>Installed Technologies</h3>
    </caption><tbody><tr align="left" style="color:#EDEBD6;background-color:#D65359;font-size:Small;">
      <th align="left" scope="col" style="width:380px;">&nbsp;</th><th scope="col" style="width:380px;">Basic</th><th scope="col" style="width:380px;">ASP.NET</th><th scope="col" style="width:380px;">ASP.NET Plus</th>
    </tr><tr style="background-color:LightCyan;font-size:Small;">
      <td style="width:380px;">Email List Server             </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:#F4F2DB;font-size:Small;">
      <td style="width:380px;">SmarterStats                  </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:LightCyan;font-size:Small;">
      <td style="width:380px;">FTP Access                    </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:#F4F2DB;font-size:Small;">
      <td style="width:380px;">ASP.NET 3.5                   </td><td style="width:380px;">No                            </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:LightCyan;font-size:Small;">
      <td style="width:380px;">ASP.NET AJAX                  </td><td style="width:380px;">No                            </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:#F4F2DB;font-size:Small;">
      <td style="width:380px;">ASP Component                 </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:LightCyan;font-size:Small;">
      <td style="width:380px;">Access Database Support       </td><td style="width:380px;">No                            </td><td style="width:380px;">Yes                           </td><td style="width:380px;">Yes                           </td>
    </tr><tr style="background-color:#F4F2DB;font-size:Small;">
      <td style="width:380px;">MS SQL 2005                   </td><td style="width:380px;">No                            </td><td style="width:380px;">No                            </td><td style="width:380px;">Yes                           </td>
    </tr>
  </tbody></table>
</div>
    <br>
    
     <!-- Start PRICING VIEW -->
    
     </div>
          </section>
        </div>
      </div>
    </div>
  </section>

