<section id="subintro">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h3>
					<strong>  Web Hosting Solutions | Cecil County MD   </strong>
				</h3>
			</div>
			<div class="span4">
				<ul class="breadcrumb notop">
					<li>
						<a href="/">Home</a>
						<span class="divider">/</span>
					</li>
					<li class="active">Web Hosting  </li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="maincontent">
	<div class="container">
		<div class="row">
			<div class="span12">
				<section id="global">
					<div class="art-PostContent">
						<br>
							<h1 class="block">Web Hosting Solutions</h1>
							<p>We are pleased to offer shared hosting to all our customers on our Windows Dedicated Server. Our servers are located in Newark, DE and New London, PA at a highly reliable server hub boasting 99% network uptime, no power downtime, and high stability. 
</p>
							<p>We are not in the bulk hosting business and choose to differentiate by offering maintenance hosting. This means we will offer high-level-of-service site hosting for free and only to our maintenance customers. Since all customers needs vary, we will make maintenance and hosting arrangements on a client specific basis. 
</p>
							<p>You can be assured that site maintenance, all hosting needs and server side IT support will be at our low cost and high value. If you are interested in our maintenance hosting services, please Contact Us and we will help you to move your existing site or we will be pleased to set up your new site on our server. 
</p>
							<h2>Server Features: </h2>
							<table id="MainSiteContentPlaceHolder_Table1" align="Center" style="width:600px;">
								<tbody>
									<tr>
										<td>• Windows Server Technologies </td>
										<td>• IIS Windows Web Server </td>
									</tr>
									<tr>
										<td>• High speed 1 Gbps Port</td>
										<td>• Supports ASP.NET</td>
									</tr>
									<tr>
										<td id="MainSiteContentPlaceHolder_TableCell1">• SSL – Security certificate</td>
										<td id="MainSiteContentPlaceHolder_TableCell2">• Server Side Includes - SSI</td>
									</tr>
									<tr>
										<td id="MainSiteContentPlaceHolder_TableCell3">• MailEnable Web Server with Web mail</td>
									</tr>
								</tbody>
							</table>
							<br>
								<h2>Database Features:</h2>
								<table id="MainSiteContentPlaceHolder_Table2" align="Center" style="width:600px;">
									<tbody>
										<tr id="MainSiteContentPlaceHolder_TableRow1">
											<td id="MainSiteContentPlaceHolder_TableCell4">• MS Access</td>
										</tr>
										<tr id="MainSiteContentPlaceHolder_TableRow2">
											<td id="MainSiteContentPlaceHolder_TableCell6">• MS SQL Express</td>
										</tr>
										<tr id="MainSiteContentPlaceHolder_TableRow3">
											<td id="MainSiteContentPlaceHolder_TableCell8">• MS SQL Server</td>
										</tr>
									</tbody>
								</table>
								<h2>Server-Side Management of Your Account</h2>
								<ul>
									<ol>
										<p>
• Install your website and test all features
• Assist customer in managing accounts and passwords
											<br>
• We can add/remove domains; manage sub-domains
												<br>
• Manage email accounts; manage email forwarding; provide full Web Mail access
													<br> 
• Set-up and manage FTP accounts; manage your server files
														<br>
• Manage database - manage ODBC DSNs (Open database Connectivity)
															<br>
• DNS (domain name system) zone management; manage MIME Types
																<br>
• Manage additional site features - such as web statistics, databases and much more.

																</p>
															</ol>
														</ul>
														<br>
															<p align="center">Explore more information on this topic under our Web Hosting menu or 
    
																<a id="MainSiteContentPlaceHolder_HyperLink1" href="<%=hosting_price_web_hostings_path%>">pricing</a>.
															</p>
														</div>
													</section>
												</div>
											</div>
										</div>
									</section>
									