<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong> Website Statistics Can Answer Questions   </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active">Statistics  </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
          <div class="art-PostContent">
            <p>Would you like to analyze performance relative to marketing campaigns and SEO efforts?</p> 
            <p>Would you like to understand what search engines are indexing?</p> 
            <p>Would you like to understand what pages people are spending the most and least time on? </p>
            <p>Would you like to measure true visitor traffic without spider and bot pollution? </p>
            <p>Would you like to analyze you website for performance and which pages are processing longer?</p> 
            <p>Would you like to understand the path visitors took through your website during their visit? </p>
            <p>Would you like to accurately track back to the pages that brought visitors to your website? </p>
            <p>Do you want to answer these questions and more with robust data mining? </p>

            <h1>Statistics</h1>

            <p>AlL JAHAN AL ABYAD TECH.CONT. Statistical package comes with every hosting package by standard.  Start analyzing your websites progress and answer the questions in order to make full use of your websites efforts.</p>

            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

