<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong>Microsoft Hyper-V Virtualization </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active">Virtualization  </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
          <div class="art-PostContent">
            <br>
              <p>Information Technology managers are under constant pressure to reduce the costs associated with running an IT infrastructure while maintaining the same level of performance, reliability, and security. To ease the burden of maintaining a complex server framework, many businesses are turning to virtualization.</p>
              <h2>Hyper-V Hosting from VSS Business Solutions</h2>
              <p>Together with Microsoft, VSS Business Solutions is able to offer you the latest in hypervisor-based server virtualization technology: Hyper-V. A Hyper-V hosting solution enables you to run multiple operating systems on a single physical server as virtual machines (VMs). Why is this beneficial? Deploying multiple isolated virtual machines instead of physical servers means a lower total cost of ownership to you. Additionally, Hyper-V can help you optimize asset utilization and balance workloads across different resources.</p>
              <h2>Host DEMO applications with VSS Business Solutions</h2>
              <p>We have found a new niche in the market where software companies have the need to allow potential customers try their software out for a period of time to make sure the solution will work for them.  Alot of time the IT department sets policies that will not allow the end user to install or modify the desktop. In other situations the customers IT department does not have the time nor enough server resources to implement a software trial.</p>
              <p>This is when it is critical to have a resourceful IT hosted service available.  We can even put your logo on the desktop back ground to remind them of the superior product they are using. 

</p>
              <h2>How does Hyper-V work?</h2>
              <p>Hyper-V is a thin layer of software between the hardware and the Operating System (OS) that allows multiple instances of an OS to run, unmodified, on a single physical server at the same time. This technology is an ideal platform for developing and testing software, consolidating production servers, and managing business continuity (growth and scalability).</p>
              <br>
                <div style="float: left">
                  <img alt="" src="<%=asset_path('diagram.gif')%>" title="How does Hyper-V work" width="250px">
                  </div>
                  <div style="float: right">
                    <h2>Key Features of Hyper-V:</h2>
                    <ul>
                      <li>
                        <b>Broad OS Support:</b>
                        <br>
                   Simultaneously run multiple OSs, 32-bit and 64-bit, across Windows, Linux, and 
                   other platforms 
                        </li>
                        <li>
                          <b>Symmetric Multiprocessors (SMP) Support:</b>
                          <br>
                   Utilize multi-threaded applications with support for up to four multiple 
                   processors 
                          </li>
                          <li>
                            <b>Network Load Balancing:</b>
                            <br>
                   Configure virtual switch capabilities to run Windows Network Load Balancing 
                   (NLB) Service 
                            </li>
                            <li>
                              <b>Hardware Sharing Architecture:</b>
                              <br>
                   Improve operation of core resources with virtual service provider/virtual 
                   service client (VSP/VSC) 
                              </li>
                              <li>
                                <b>Quick Migration:</b>
                                <br>
                   Quickly migrate a running virtual machine from one physical host system to 
                   another with minimal downtime 
                                </li>
                                <li>
                                  <b>Virtual Machine Snapshot:</b>
                                  <br>
                   Easily revert to a previous state to improve the overall backup and 
                   recoverability solution 
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </section>

