<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong>  System Administration   </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active"> System Administration   </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
          <div class="art-PostContent">
            <br>
              <p>
                <img title="IT System Administration and Design" class="pageimage" src="<%=asset_path('System-Administration.jpg')%>" alt="IT System Administration and Design" align="left" style="border-width:0px;">If you are a company doing business today you most likely have or need to have an information technology 
              infrastructure of some type.  These infrastructures usually include computer hardware, software and a network.  
              To keep these system and services functioning you will need someone to administrate these technologies.  
              Both planning and implementing are very important parts of administration.  Far too many times I see companies trying to stay on top of common issues daily that could be easily elevated by the correct planning and 
              implementation of technologies.  With the 20 years experience of VSS Computer Consulting to help implement proven solutions to almost any environment. 
                </p>
                <br>
                  <br>
                    <br>
                      <br>
                        <br>
                          <p> We have listed some of our services that we have available (
                            <i>please call and inquire about services you may no see listed</i>):
                          </p>
                          <ol>
                            <ul style="padding-left: 20px">
                              <li>Network Design and Security</li>
                              <li>Troubleshooting and/or Debugging Network related problems</li>
                              <li>Network Backup Systems</li>
                              <li>IP addressing and assignment</li>
                              <li>Network Documentation and auditing</li>
                              <li>Network, Server, PC, Application monitoring</li>
                              <li>Database Administration</li>
                              <li>Web Administration</li>
                              <li>Security Administration</li>
                              <li>Server Evaluation / recommendation / sales</li>
                              <li>Technical Support</li>
                              <li>Training </li>
                            </ul>
                          </ol>
                          <br>
                            <br>
                              <p>Some of the hands-on responsibilities include:</p>
                              <ol>
                                <ul style="padding-left: 25px">
                                  <li>Analyzing system logs and identifying potential issues with computer systems. </li>
                                  <li>Introducing and integrating new technologies into existing data center environments.</li>
                                  <li>Performing routine audits of systems and software.</li>
                                  <li>Performing backups.</li>
                                  <li>Applying operating system updates, patches, and configuration changes. </li>
                                  <li>Installing and configuring new hardware and software.</li>
                                  <li>Adding, removing, or updating user account information, resetting passwords, etc.</li>
                                  <li>Answering technical queries.</li>
                                  <li>Responsibility for security.</li>
                                  <li>Responsibility for documenting the configuration of the system.</li>
                                  <li>Troubleshooting any reported problems. </li>
                                  <li>System performance tuning.</li>
                                  <li>Insuring that the network infrastructure is up and running</li>
                                </ul>
                              </ol>
                              <br>
                                <p align="center">
                                  <a id="MainSiteContentPlaceHolder_Contact1" href="../Contact/Default.aspx">Contact</a>&nbsp;AlL JAHAN AL ABYAD TECH.CONT. today to find out more information
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

