<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong>  AlL JAHAN AL ABYAD TECH.CONT. - Our Telecommunications   </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active">Telecommunications  </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
          <div class="art-PostContent">
            <br>
              <p>
                <img id="MainSiteContentPlaceHolder_Image1" title="AlL JAHAN AL ABYAD TECH.CONT. - Our Telecommunications" class="pageimage" src="<%=asset_path('Communications.jpg')%>" alt="IT Telecom and Services" align="left" style="border-width:0px;">Small business’ biggest concerns are making sure they're investing in appropriate technology that matches their business goals and will continue to be appropriate for their business even in the case of change or growth. We have several different programs that cater a solution to the needs and allow krrping that solution current and viable. These programs prevent wasting money on more system than required and will not be frustrated that the technology is not formidable enough to help reach the goals.
                </p>
                <br>
                  <br>
                    <br>
                      <br>
                        <br>
                          <h2>Telecom Services we Provide</h2>
                          <ul>
                            <li>Full installation</li>
                            <li>Training and follow-up</li>
                            <li>Database updates</li>
                            <li>Priority technical support</li>
                            <li>Proactive system monitoring</li>
                            <li>24/7 help desk access</li>
                            <li>All local, long-distance &amp; Internet services</li>
                            <li>Remote support </li>
                            <li>Locked-in pricing for hardware additions</li>
                            <li>On-site repair</li>
                          </ul>
                          <br>
                            <p>When you select AlL JAHAN AL ABYAD TECH.CONT., we start by getting to know your business and listening to your needs. You will be matched with a Technology Expert who will design a customized solution to meet your exact technology objectives. </p>
                            <p align="center">
                              <a id="MainSiteContentPlaceHolder_Contact1" href="../Contact/Default.aspx">Contact us</a>&nbsp;today for more information about out Telecom Technologies and Services.
                            </p>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </section>

