<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong>  About Us   </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="/">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active"> about   </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
          <div class="art-PostContent">
             <br>
              <p>With more than eighteen years of computer industry (technology and business consulting) experience, AlL JAHAN AL ABYAD TECH. CONT serves a wide range of clients in Pennsylvania, Maryland and Delaware covering Chester County, Cecil County and New Castle County. To help us provide effective oversight of your project, we use a network of in-house and outsourced professionals that can assist with various components of your project. We hold our network of professionals to the same high standards of performance and quality to which we hold ourselves.    
              </p>
              <p>From large corporate banks to farmers implementing high-tech solutions- and everything in between- we’ve worked with organizations of all sizes, and from all industries. Our deep, but practical know-how has helped us to create and maintain a solid cost-effective infrastructure. This in turn helps our clients focus on value tasks such as increasing revenue and operational efficiency.
              </p>
              <p>AlL JAHAN AL ABYAD TECH. CONT has developed and implemented technology solutions for client organizations from a diverse group of businesses from the Gaming industry, Banking industry, Furniture industry, Dental industry, Legal industry and many more. Having both broad and detailed knowledge of a wide assortment of businesses has provided us with the ability to anticipate and overcome obstacles that might otherwise slow, or halt progress. 
              </p>
              <p>Clients count on us to get the job done right the first time, and on time. We develop solid solutions that fix the current problem or issue, since it’s of no benefit for us, or our clients, for us to have to continue fixing the same problem. Our clients appreciate that we take a proactive view when consulting, and try to project their needs three to five years out. If we can build a solution now that anticipates future needs, why not?
              </p>
              <p>A commitment and strict adherence to our core values and operating principles has allowed us to build an impeccable reputation while forming strong, lasting and mutually beneficial relationships with our clients. 
              </p>

              <p>The core values and principles that guide us through every client engagement:</p>
              <ul>
              <li><b>Ethics and Integrity</b>
              Seems obvious and perhaps old-fashioned, but we believe in honesty, honoring commitments and doing the right thing- even if unpopular. Otherwise, why bother?
              </li><br>

              <li><b>Open Communication</b><br>
              To us, open communication is a critical two-way street: sharing information to avoid having to reset expectations during an engagement; listening to ideas AND input of others; openness to coaching and being coached with constructive feedback. 
              </li><br>

              <li><b>Personal Accountability and Empowerment</b><br>
              You won’t hear us say, “That’s not my fault.” Accepting responsibility and taking ownership of our responsibilities are at the foundation of every client relationship. Our well-deserved, strong reputation is built from empowering clients and our team during an engagement; asking what else we can do to add value; and always meeting the deadline.
              </li><br>

              <li><b>Clear Focus on Direction and Purpose</b>
              Our Mission Statement isn’t just a catchy little blurb- we live it each and every day. What’s the point of having it if you don’t? We clarify expectations up front so we’re all on the same page. This helps us direct our efforts to exceed objectives when we deliver the finished product.
              </li><br>

              <li><b>Respect</b>
              Respect goes hand in hand with trust when forming long-lasting relationships- especially in the business world. As such, we will always show appreciation for the contributions of others, ask for, and offer support freely, and as our parents and grandparents taught us, treat others with respect, dignity and common courtesy. 
              </li><br>

              <li><b>Teamwork</b>
              Even the smallest of projects won’t be a success without teamwork. Recognizing this, we clearly define roles and responsibilities of each team member prior to kicking off a project; share recognition with team members as the project unfolds; and accept praise and responsibility equally for projects successes and disappointments.
              </li></ul>

              <p>
              AlL JAHAN AL ABYAD TECH. CONT is a technology and business consulting firm, serving the website development, creative services, IT solutions and web hosting needs of companies in Chester County, PA, Cecil County, MD and New Castle County, DE. 

              </p>
               </div>
            </section>
          </div>
        </div>
      </div>
    </section>

