<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>
          <strong>  Terms and Conditions   </strong>
        </h3>
      </div>
      <div class="span4">
        <ul class="breadcrumb notop">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span>
          </li>
          <li class="active"> about   </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <section id="global">
          <div class="art-PostContent">
                <h4 style="color: #9C1A1F">This website, including all of its subsidiary parts, its design, associated graphics, the names VSS Computer Consulting, VSS Business Solutions and all other files residing on or at the vsscc.com and AlL JAHAN AL ABYAD TECH. CONT. .com site are copyrighted by and are the property of VSS Computer Consulting.</h4>
                <br>
                <p>All rights in and to this website and its constituent parts are hereby reserved and, except as provided herein, no part of this website may be used for any reason or reproduced in any manner, whether by paper, electronic means or any other method without the express written consent of VSS Computer Consulting. All Trademarks are the property of their respective owners. All public entity logos are used with permission and may not be reproduced, copied, or transmitted. All other images are copyright VSS Computer Consulting and may not be reproduced, copied, or transmitted without prior consent.</p>

                <p>Permission is hereby granted for the following purposes only: (i) to transport these pages through any network media using the HTTP Hypertext Transport Protocol for temporary storage for the purposes of reading these pages; (ii) to refer to these pages from other pages via Uniform Resource Locators (URLs); and (iii) to print individual informational pages in hard copy format only for private use.</p>

                <p>These pages may not be copied for any other reason, nor may they be permanently stored on any system other than vsscc.com or AlL JAHAN AL ABYAD TECH. CONT. .com that is capable of retrieving them via HTTP. Copies of these pages may not be modified under any circumstances, except for visual formatting in accordance with the HTML specification.</p>

                <p>All materials on vss are provided "AS IS" without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose or non-infringement. In no event shall VSS Computer Consulting be liable for any incidental, indirect, special or consequential damages whatsoever (including but not limited to lost profits) arising out of or related to any information contained herein. VSS Computer Consulting reserves the right to make changes to any materials on vsscc.com or AlL JAHAN AL ABYAD TECH. CONT. .com, and to make improvements and/or changes to this site at any time and without notice.</p>
                 </div>
            </section>
          </div>
        </div>
      </div>
    </section>

